<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
      1. Copy this file and name it Scripts.user.config
      2. Put your connection string into the connectionString property below to enable tests
      3. Git ignores *.user.config files, so it won't be commited to the repository
    -->
    <add name="Mongo" connectionString="your connection string goes here"/>
  </connectionStrings>
  <appSettings>
    <add key="DatabaseName" value="quick-shop"/>
  </appSettings>
</configuration>